.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*ad*/
.container {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
}

.side-section {
  flex: 1; /* Each section takes up an equal amount of space */
  /*border: 1px solid #ccc;  Optional: Add borders for visual separation */
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
}
.main-section {
  flex: 3; /* Each section takes up an equal amount of space */
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.ScrollableContent {
  overflow-y: auto;
  max-height: 300px; /* Set a fixed height for the scrollable content */
  padding: 20px;
  box-sizing: border-box;
}

/* Pictures */
.Profile-Pic{
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  display: block; /* Remove any extra spacing below the image */
  margin: 1 auto; /* Center the image horizontally */
  border-radius: 50%;
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  object-position: top left;
 
}
.Socials-Pic{
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  display: block; /* Remove any extra spacing below the image */
  margin: 1 auto; /* Center the image horizontally */
  border-radius: 50%;
  width: 75px; /* Set the desired width */
  height: 75px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  object-position: top left;
}


.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HeaderName{
  color: white;
  background-color: black;
  text-decoration: underline;
  font-family: Palatino, URW Palladio L, serif;
  position: absolute;
  /* top: 8px;
  left: 16px; */
  font-size: 3.2vw;
}

/*Social Text*/
.SocialText{
  color: white;
  background-color: black;
  font-family: Palatino, URW Palladio L, serif;
  position: absolute;
  font-size: 1.2vw;
  
}

/*Main Text*/
.MainText{
  color: white;
  background-color: black;
  font-family: Palatino, URW Palladio L, serif;
  font-size: 1.2vw;
  max-width: 70%;
  text-decoration: none; 
}


a {
  color: white; /* Set the color to blue */
  text-decoration: none; /* Optional: Remove default underline */
}
a:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}


.line {
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
